{% extends "base.html" %}
  {% block content %}


  <div class="container">
      <div class="btn-group btn-group-justified">
        <a href="{{ url_for('bereich_group', group= 'Development') }}" class="btn btn-primary" style="width:50%">Development</a>
        <a href="{{ url_for('bereich_group', group= 'Infrastructure') }}" class="btn btn-success" style="width:30%" >Infrastructure</a>
        <a href="{{ url_for('bereich_group', group= 'Data Science') }}" class="btn btn-info" style="width:20%">Data Science</a>
          </ul>
      </div>



    <!-- list table -->

    <table class="ui very basic padded striped four column table accordion">
        <!-- <p>{{ amounts }} results shown out of {{ amount }} {{ selected }} projects </p>-->

        <thead>
          <tr>
            <th class="thirteen wide">Titel</th>
            <th class="one wide">Veröffentlichung</th>
            <th class="one wide">Ort</th>
            <!--            <th class="one wide">Kategorie</th> -->
            <th class="one wide">Quelle</th>
            <th class="one wide">Cockpit</th>
          </tr>
        </thead>
        <tbody>
        {% for hit in projects %}
            <tr>
              <td>
                <div class="title">
                  <i class="dropdown icon"></i>
                  <a href="{{ hit['url'] }}" target="_blank"><b>{{ hit['title'] }}</b></a>
                </div>
                <div class="content">
                        <div class="ui relaxed divided items">
                            <div class="item">
                                <div class="description">
                                    {{ hit['description'][:150] }}
                                </div>
                            </div>
                        </div>
                    </div>
              </td>
              <td>{{ moment(hit['filter_date_post']).fromNow() }}</td>
              <td>{{ hit['region']['bundesland'] }}</td>
              <td>
                <a href="{{ hit['url'] }}" target="_blank">{{ hit['source'] }}</a>
              </td>
              <td class="center aligned">
                        <i class="blue plus square outline big icon" data-id="12"></i>
              </td>

            </tr>
        {% endfor %}

        </tbody>
      </table>

  {% endblock content %}
