<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Displaying all data</title>
    <link rel="stylesheet" type="text/css" href="/static/commons/css/bootstrap.min.css">
    <script src="/static/commons/js/jquery.min.js"></script>
    <script src="/static/commons/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/static/js/showData.js"></script>

  </head>
  <body>



    <table id="showData" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Time</th>
                <th>IP Address</th>
                <th>Question</th>
                <th>Answer</th>
            </tr>
        </thead>
        <tbody id="showDataBody">

        </tbody>
        <tfoot>
            <tr>
              <th>Time</th>
              <th>IP Address</th>
              <th>Question</th>
              <th>Answer</th>
            </tr>
        </tfoot>
    </table>

    <button type="button" id="previousButton"name="next" onclick="makeAjaxCall(this)">Previous</button>
    <button type="button" id="nextButton" name="next" onclick="makeAjaxCall(this)">Next</button>

    <label id="DisplayPageNo">1</label>
    <br>
    <br>
    <!-- Number Of Samples: <input type="text" name="pageSize" id="pageSize" onkeydown="makeAjaxCall(this)" value="5"> -->

  </body>
</html>
