<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Projektfinder</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>





</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="./index2.html">
          <img alt="Brand" src="ACT-Logo.png" width="70" height="40" class="d-inline-block align-top">
        </a>
      </div>
    </div>
  </nav>

    <br>
    <div class="" id="app">
      
          <section >
            <div class="center">
                
            </div>
              
          </section>
            <div class="sidebar-module">
                
                <div class="btn-group btn-group-justified" >
                    <a v-for="sub in section1" @click="getPosts(sub.group)" :class="sub.button" :style="sub.width + sub.count + sub.pix">{{ sub.name }}</a>
                </div>
                
            </div>
            <div class="col-sm-3 blog-sidebar">
                <div class="sidebar-module sidebar-module-inset">
                  <br>
                  <form @submit.prevent="getPosts(search_term)">
                      <input v-model="search_term"  type="text" id="searchTerm" name="searchTerm" placeholder="Search for projects">
                      <button type="submit">Search</button>
                  </form>
                
                  
                </div>
                <div class="sidebar-module">
                  
                    <h6>Catergories</h6>
                    <div class="" v-if="dev">
                        <select v-model="selected_dv">
                            <option v-for="option in subDev1" v-bind:value="option">
                              {{ option }}
                            </option>
                        </select>
                          <span>Selected: {{ selected_dv }}</span>
                      <!-- <v-select :options="subDev1" v-model="selected"></v-select>
  
                     <select>
                        <option v-for="sub in subDev1" :value="sub">{{ sub }}</option>
                      </select>-->
                    </div>
                    <div class="sidebar-module sidebar-module-inset" v-else-if="inf">
                        <select v-model="selected_inf">
                            <option v-for="option in subInf1" v-bind:value="option">
                              {{ option }}
                            </option>
                        </select>
                          <span>Selected: {{ selected_inf }}</span>
                      <!-- <v-select :options="subInf1" v-model="selected"></v-select>
                      <span>Selected: {{ selected }}</span>
                      <select>
                          <option v-for="sub in subInf1" :value="sub">{{ sub }}</option>
                      </select>-->
                    </div>
                    <div class="sidebar-module sidebar-module-inset" v-else-if="ds">
                        <select v-model="selected_ds">
                            <option v-for="option in subDs1" v-bind:value="option">
                              {{ option }}
                            </option>
                        </select>
                          <span>Selected: {{ selected_ds }}</span>
                        <!-- <v-select :options="subDs1" v-model="selected"></v-select>
                        <span>Selected: {{ selected }}</span>
                        <select>
                            <option v-for="sub in subDs1" :value="sub">{{ sub }}</option>
                        </select>-->
                    </div>
                  </div>
                  <div v-for="folder in folders" :key="folder.id">
                      <!--<span @click="toggle(folder.name), getPosts(folder.name)" style="cursor: pointer;"><input type="checkbox" name="vehicle" value="Bike" > </span>-->
                      <span @click="toggle(folder.name), getPosts(folder.name)" style="cursor: pointer;"  >{{ expanded ? '&#9660;' : '&#9658;'}} </span>
                      
                      <span @click="getPosts(folder.name)"> {{ folder.name }} </span>
                      
                      <div v-show="false" :id="folder.name">
                        <div v-for="page in folder.pages" style="margin-left: 20px;" >
                          <div>
                            
                            <div v-if="dev">
                              <span @click="toggle(page.name)" style="cursor: pointer;" > {{ page.sub1.length ? '+' : '-'}} </span>
                             <a @click="getPosts(folder.name + '/' + page.name)">{{page.name}}</a>
                              
                              </span>
                            </div>
                            
                            <span v-else-if="inf">
                              <span @click="toggle(page.name), getPosts(folder.name + '/' + page.name)" style="cursor: pointer;" > {{ page.sub1.length ? '+' : '-'}} </span>
                              <a @click="getPosts(folder.name + '/' + page.name)">{{page.name}}</a>
                            </span>
                            <span v-else-if="ds">
                              <span @click="toggle(page.name), getPosts(folder.name + '/' + page.name)" style="cursor: pointer;" > {{ page.sub1.length ? '+' : '-'}} </span>
                              <a @click="getPosts(folder.name + '/' + page.name)">{{page.name}}</a>
                            </span>
                          </div>
                          
                          <div v-show="false" :id="page.name">
                            <div v-for="group in page.sub1" style="margin-left: 20px;">
                                <span> {{ group.name ? '-' : '+'}} </span>
                                <span>
                                  <a @click="getPosts(folder.name + '/' + page.name + '/' + group.name)">{{ group.name }}</a>
                                    
                                </span>
                              
                            </div>
                          </div>
                        </div> 
                      </div>
                  </div>
                  <br>
                  
                    
                
                  
                <div class="sidebar-module sidebar-module-inset">
                  <h6>Elsewhere</h6>
                  <ol class="list-unstyled">
                    <li v-for="sub in section1" @click="getPosts(sub.group)"><a href="#">{{sub.name}}</a></li>
                  </ol>
                </div>
                <div class="sidebar-module">
                  <h6>Archives</h6>
                  <ol class="list-unstyled">
                    <li><a href="#">2015</a></li>
                  
                  </ol>
                </div>
                
                
              </div>
            <div class="col-lg-9 blog-main">
                <form>
                  <div class="row">
                    <div class="large-14 columns">
                      <!-- <div class="btn-group btn-group-justified">
                            <a @click="getPosts('Development')" class="btn btn-primary" style="width:50%">Development</a>
                            <a @click="getPosts('Infrastructure')" class="btn btn-info" style="width:30%">Infrastructure</a>
                            <a @click="getPosts('Data Science')" class="btn btn-warning" style="width:15%">Data Science</a>
                      </div>
                      -->
                      
                     <!-- <select v-model="section">
                        <option v-for="section in sections" :value="section">{{ section }}</option>
                      </select>
                    -->
                    </div>
  
                    
                    <!--
                    <div class="medium-6 columns center-block" >
                      <a @click="getPosts(section)" class="button expanded">Retrieve</a>
                    </div>
                    -->
                  </div>
                </form>
                <div v-if="loading"> Loading....</div>
                  <div class="search-results" v-else-if="group_clicked">
                     <i>Showing results for <strong>{{ group_selected }} {{ selected }}</strong> </i>
                  </div>
                  <div class="search-results" v-else>
                  <i>Found {{ total_results.length }} results for <strong>{{ group_selected }}</strong> </i>
                </div>
              <news-list :results="results"></news-list>
            </div>
            
  </div>
  <div class="container" id="product-list-bottom" >
      <div>.</div>

  </div>


    <script src="node_modules/axios/dist/axios.min.js"></script>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="node_modules/scrollmonitor/scrollMonitor.js"></script>
    <script src="node_modules/vue-select/dist/vue-select.js"></script>
    <script src="node_modules/vue-resource/dist/vue-resource.js"></script>
    <script src="app1.js"></script>
</body>
</html>
